.inventory {
  .list {
    &-panel {
      label {
        margin-left: 5px;
      }

      .input-choice {
        width: auto;
        margin: 0 5px;
      }

      .input + .button {
        margin-left: 5px;
      }

      .inventory-counter {
        color: white;
        float: "right";
        margin-top: 5px;
        margin-left: 10px;
      }
    }
  }
}
