.button {
    padding: 5px 10px;
    font-weight: bold;
    border: none;
    font-size: 1em;
    border-radius: 5px;
    transition: background-color 200ms ease-in-out, color 500ms ease-in-out;
    background-color: #ccc;
    background-color: transparent;
    border: 1px solid #ccc;
    color: #ccc;
}

.button+.button {
    margin-left: 5px;
}

.button:hover {
    background-color: #fff;
    cursor: pointer;
    color: #333;
}

.input {
    border: 1px solid #ccc;
    background-color: transparent;
    padding: 5px 10px;
    font-size: 1em;
    color: #ccc;
    margin-left: 5px;
    border-radius: 5px;
}

.list .list-panel {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.list .list-wrapper {
    margin-top: 10px;
    border-collapse: collapse;
    width: 100%;
}

.list .list-header-cell,
.list .list-body-cell {
    color: #ccc;
    border: 1px solid #555;
    padding: 5px;
}

.edit-field {
    width: 50%;
    float: left;
}

.edit form fieldset {
    border: none;
    color: #fff;
    margin: 20px;
}

.edit input {
    width: 95%;
    padding: 10px;
    border: 1px solid #888;
    background: none;
    color: #fff;
    margin-bottom: 10px;
    padding: 5px 10px;
}

.edit label {
    font-style: italic;
    font-family: monospace;
    text-transform: uppercase;
    margin-left: 10px;
    border: 1px solid #888;
    padding: 2px 10px 0;
    /* font-size:0.8em; */
    /* border-bottom: none; */
    background: #888;
    color: #000;
    margin-bottom: 1px;
    position: relative;
    /* margin-top: -5px; */
    padding-bottom: 1px;
    /* display: inline-block; */
}

.edit .input.input-textarea {
    width: 95%;
    margin: 0;
    height: 95px;
}

.input.input-check {
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 1px solid white;
    cursor: pointer;
    font-family: monospace;
    padding: 0;
    text-align: center;
    font-size: 2em;
    line-height: 24px;
    color: transparent;
}

.edit .input.input-check {
    margin: 10px;
}

.input.input-check--active {
    color: white;
}

.edit .input-select-item {
    display: inline-block;
    margin: 1px;
    padding: 3px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 200ms;
    color: #444;
}

.list-body-row:hover {
    background: #222;
}

.edit .input-select-item--active {
    background: white;
    color: black;
}

.list-body-cell .input-check {
    border: none;
}

.confirm {
    position: fixed;
    top: 1em;
    background: white;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 2;
    padding: 1em;
    width: 50%;
    border-radius: 4px;
}

.confirm-buttons {
    margin-top: 1em;
    text-align: right;
}